<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>鎌池和馬</string>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>3AFC374FB095EE5163B5463B48C08EB6</string>
		<key>page-progression-direction</key>
		<string>rtl</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:545a3df0-bf77-3c42-9a0f-bab263eadfe5</string>
		<key>unique-id</key>
		<integer>-57364640894804089</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>とある魔術の禁書目録４</string>
	<key>playlistName</key>
	<string>とある魔術の禁書目録４</string>
</dict>
</plist>
