<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Unknown</string>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>80953E6D701726FF3C59D2F291AEA4E0</string>
		<key>publisher-unique-id</key>
		<string>03e4b5f6-e92a-4dd2-97ee-5a119b5c549d</string>
		<key>unique-id</key>
		<integer>7567636443687621578</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>ダンジョンに出会いを求めるのは間違っているだろうか外伝</string>
	<key>playlistName</key>
	<string>ダンジョンに出会いを求めるのは間違っているだろうか外伝</string>
</dict>
</plist>
